body {
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    padding: 45px;
    background-color: rgb(83, 98, 201, .50);
    border-radius: 20px;
}


.feedback {
    display: flex;
    justify-content: center;
    margin: 200px 0;

}

.card-body {
    background-color: rgb(83, 98, 201, .50);
}